.App {
  text-align: center;
  margin: 20px;
}
button {
  padding: 10px;
  background-color: aliceblue;
  color: black;
  border: 1px solid gray;
}
.wrapper {
  flex-direction: column;
  display: flex;
  align-items: center;
}
