.wrapper {
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}
table{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    margin-top: 10px;
}
th, td {
    padding: 10px;
}
